[Desktop Entry]
Categories=Utility;AI;
Comment=uos-ai
Exec=/usr/bin/uos-ai-assistant
GenericName=UOS AI
Icon=UosAiAssistant
Name=UOS AI
StartupNotify=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-Delay=3
X-GNOME-Autostart-Notify=false
GenericName[zh_CN]=小U同学
GenericName[zh_TW]=小U同學
GenericName[zh_HK]=小U同學
Name[zh_CN]=小U同学
Name[zh_TW]=小U同學
Name[zh_HK]=小U同學
