html {
    --tool-management-list-row-bg-color: rgba(255, 255, 255, 1);
    --tool-management-list-row-shadow-color: rgba(0, 0, 0, 0.05);
}

html.dark {
    --tool-management-list-row-bg-color: rgba(255, 255, 255, 0.05);
    --tool-management-list-row-shadow-color: rgba(0, 0, 0, 0.3);
}

.tool-management-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tool-management-list__body {
    display: flex;
    flex-direction: column;
}

.tool-management-list__body > *:not(:last-child) {
    margin-bottom: 8px;
}

.tool-management-list__row {
    width: 100%;
    box-shadow: 0 1px 0 0 var(--tool-management-list-row-shadow-color);
    border-radius: var(--radius-normal);
    background: var(--tool-management-list-row-bg-color);
}

.tool-management-list__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    color: var(--dtext-placeholder);
    font-size: 14px;
}
