/* 组名项 - 吸顶组件 */
html {
    --group-header-color-text: rgba(0, 0, 0, 0.3);
    --group-header-color-btn-icon-hover: rgba(0, 0, 0, 0.7);
    --group-header-color-btn-bg-hover: rgba(0, 0, 0, 0.1);
    --group-header-color-btn-bg-active: rgba(0, 0, 0, 0.15);
    --group-header-color-bg-hover: rgba(0, 0, 0, 0.1);
}
html.dark {
    --group-header-color-text: rgba(255, 255, 255, 0.4);
    --group-header-color-btn-icon-hover: rgba(255, 255, 255, 0.7);
    --group-header-color-btn-bg-hover: rgba(255, 255, 255, 0.1);
    --group-header-color-btn-bg-active: rgba(255, 255, 255, 0.05);
    --group-header-color-bg-hover: rgba(255, 255, 255, 0.1);
}
.group-header {
    --group-header-height: 30px;
    position: relative;
    padding: 0 6px 0 10px;
    height: var(--group-header-height);
    line-height: calc(var(--group-header-height) - 2px);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-normal);
    background-color: transparent;
    pointer-events: auto;
}

.group-header:hover {
    background-color: var(--group-header-color-bg-hover);
}

.group-header__name {
    flex: 1;
    min-width: 0;
    color: var(--group-header-color-text);
    font-size: var(--uosai-font-size-xs);
    font-weight: 500;
    font-style: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-header--hidden {
    visibility: hidden;
    pointer-events: none;
}

.group-header__collapse-btn {
    --icon-button-color: var(--group-header-color-text);
    --icon-button-hover-color: var(--group-header-color-btn-icon-hover);
    --icon-button-hover-bg: var(--group-header-color-btn-bg-hover);
    --icon-button-active-bg: var(--group-header-color-btn-bg-active);
    --icon-button-hover-box-shadow: none;
    transition: opacity 0.15s ease;
    opacity: 0;
}

.group-header__collapse-btn .svg-icon {
    transition: transform 0.3s ease;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(180deg);
}

.group-header:hover .group-header__collapse-btn {
    opacity: 1;
}

.group-header__collapse-btn--collapsed .svg-icon {
    transform: rotate(0deg);
}
